ray
pm4py
openai
pyyaml
dotenv
wandb
transformers
trl
datasets
accelerate
deepspeed
liger-kernel
vllm==0.10.2
latex2sympy2_extended
math_verify
dotenv
huggingface_hub[cli]
fire
peft
pebble
word2number
langdetect
flashinfer-python
antlr4-python3-runtime==4.11.0
